h1= title
form(method="post", action="/stream", enctype="multipart/form-data", id="myform")
	label value:
		input(name="id",value="0", type="text")
	br
	label file:
		input(type="file", name="image")
	br
	input(type="submit", name="submit")